<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="app.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<div class="jumbotron text-center">
        <h1>Github App</h1>
        <p>Easy, simple, and hassle-free!</p>
</div>

<div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>User's Repo</h3>
            <p>Click on the button.</p>
            <label for="user">Github Username:</label>
            <input type="text" class="form-control" id="userRepo" placeholder="NioSusan">
            <br>
            <button id="btnGet" type="button" class="btn btn-info btn-md">Info</button>
            <ul class="list">

            </ul>
          </div>
          <div class="col-sm-4">
            <h3>Search User</h3>
            <p>Type in the username here.</p>
            <div class="form-group">
                    <label for="user">Github Username:</label>
                    <input type="text" class="form-control" id="user" placeholder="NioSusan">
                    <br>
                    <input class="btn btn-primary" type="submit" value="submit" id="btnUser">
                    <br>
                    <p>username: <span id="username"></span></p> 
                    <p>ID: <span id="ID"></span></p>
                    <p>url: <span id="html"></span></p>
                </div>
          </div>
          <div class="col-sm-4">
            <h3>Create a new repo</h3> 
            <p>Type in new repo's name here</p>
            <div class="form-group">
                <label for="repo">Repo's Name:</label>
                <input type="text" class="form-control" id="repo">
            </div>
            <div class="form-group">
              <label for="repo">Token:</label>
              <input type="text" class="form-control" id="token">
          </div>
          <div class="form-group">
            <button id="btnPost" type="button" class="btn btn-info btn-md">Create</button>
            <span id="status"></span>
          </div>
          </div>
        </div>
      </div>
<script type="text/javascript" src="app.js"></script>
<body>
    
</body>
</html>